{%load static%} <link rel="stylesheet" href="{% static 'css/form.css' %}" />
<link rel="stylesheet" href="{% static 'css/sweetalert2.css' %}" />

<div class="container">
  {% if teacher.pk %}
  <h2 style="text-align: center">编辑老师信息</h2>
  {% else %}
  <h2 style="text-align: center">添加老师信息</h2>
  {% endif %}

  <form method="post">
    {% csrf_token %} {% for field in form %}
    <div class="form-group">
      <label for="{{field.id_for_label}}">{{field.label}}</label>
      {{field}}

      <ul class="errors">
        {% for error in field.errors %}
        <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}

    <div class="handleButton">
      <button type="submit" id="saveButton">保存</button>
      <button type="button" id="cancelButton">取消</button>
    </div>
  </form>
</div>
{% if teacher.pk %}
<script>
  const actionUrl = "{% url 'teacher_update' teacher.pk%}";
</script>
{% else %}
<script>
  const actionUrl = "{% url 'teacher_create' %}";
</script>
{% endif %}

<script src="{% static 'js/sweetalert2.js' %}"></script>
<script>
  //
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.querySelector("form");
    const url = actionUrl;
    form.addEventListener("submit", function (e) {
      e.preventDefault();
      let formData = new FormData(form);
      fetch(url, {
        method: "POST",
        body: formData,
        headers: {
          "X-Requested-With": "XMLHttpRequest",
          "X-CSRFToken": formData.get("csrfmiddlewaretoken"),
        },
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.status === "success") {
            Swal.fire({
              icon: "success",
              title: data.messages,
              text: "Success",
            }).then((result) => {
              if (result.isConfirmed) {
                window.parent.location.reload();
              }
            });
          } else {
            // 解析JSON中的错误信息:
            const errors = JSON.parse(data.messages);
            let errorMessages = "";

            for (const field in errors) {
              // 遍历errors内每个字段对应的错误信息
              if (errors.hasOwnProperty(field)) {
                // 如果字段存在, 则遍历该字段的错误信息数组
                errors[field].forEach((error) => {
                  errorMessages += `<li style="color:red;text-align:left;margin-left:100px;">${error.message}</li>`;
                });
              }
            }
            // 使用SweetAlert2显示错误信息
            Swal.fire({
              icon: "error",
              title: "提交错误",
              html: errorMessages,
              confirmButtonText: "关闭",
            });
          }
        })
        .catch((error) => {
          Swal.fire({
            icon: "error",
            title: "提交失败",
            text: "发生未知错误, 请稍后重试",
            confirmButtonText: "关闭",
          });
        });
    });
  });
</script>
